* {
    padding: 0;
    margin: 0;
}

#app {
    display: flex;
    height: 100vh;
    width: 100%;
    background-color: black;
}

#canvas {
    margin: auto;
    height: 300px;
    width: 200px;

    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(30, 1fr);
    background-color: grey;
}

.snake {
    background-color: green;
}